*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Lora', serif;
    font-size: 1rem;
}

.container{
    background-color: aliceblue;
    /* border: 2px solid rgb(149, 154, 158);  temporary border */
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr auto;
    gap: 2rem;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 10px;
}
h2{
    font-family: 'Playfair Display',serif;
    font-size: 2rem;
    margin: 0%;
    padding: 0%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.profile{
    display: flex;
    flex-direction: column;
    grid-row: span 5;
    position: sticky;
    align-items: center;
    top:10px;
    padding: 20px;

}
img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 270px;
    aspect-ratio: 1;
    margin-bottom: 50px;
}
.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link-container a{
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
.name-info{
    grid-column: span 2;
    h1{
        font-size: 2.5rem;}
    h3{
        font-size: 1rem;
    }

}
.hobbies{
    grid-column: span 2;
}
.footer{
    grid-column: span 2;
}

.item{
    min-height: 200px;
    max-height: 300px; /* Adjust the minimum height as needed */

}
button{
    background-color: transparent;
    text-align: center;
    padding: 10px;
    border: none;
}

hr{
    width: 100%;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
    margin-top: 5px;
}
.content{
    padding-top: 30px;
    li{
        list-style: none;
        padding-bottom: 20px;
    }
}