* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #414141;
}
strong {
  font-size: 1.08rem;
}
.container {
  background-color: rgb(244, 255, 240);
  /* border: 2px solid rgb(149, 154, 158); */
  /* temporary border */
  width: 73%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 70px auto auto auto auto;
  gap: 2rem;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  margin: 0%;
  padding: 0%;
  color: #000000;
}

footer {
  color: #000000;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.profile {
  display: flex;
  flex-direction: column;
  grid-row: span 4;
  position: sticky;
  align-items: center;
  top: 10px;
  padding: 20px;
}
img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 250px;
  aspect-ratio: 1;
  margin-bottom: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
   /* to make the hover animation smoother */  
  -webkit-transition: transform 0.3s, box-shadow 0.3s;
  -moz-transition: transform 0.3s, box-shadow 0.3s;
  -ms-transition: transform 0.3s, box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s;
}
img:hover{
    transform:scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
}
.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-container a button {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  color: rgb(255, 112, 112);
}
a{
    margin-top: 10px;
}
.name-info {
  grid-column: span 2;
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}
.hobbies {
  grid-column: span 2;
}
.footer {
  grid-column: span 3;
  text-align: center;
margin-bottom: 0;
}
footer{
    padding-block: 10px; /** applied to footer tag which has default padding of 20px*/
}

.experience , .education {
    margin-top: 20px;
}

.item {
  height: fit-content;
  /*Adjusttheminimumheightasneeded*/padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}
.item:not(.footer, .profile){ /* for not applying on footer and profile*/
    transition: transform 0.3s,box-shadow 0.3s;
    -webkit-transition: transform 0.3s,box-shadow 0.3s;
    -moz-transition: transform 0.3s,box-shadow 0.3s;
    -ms-transition: transform 0.3s,box-shadow 0.3s;
    -o-transition: transform 0.3s,box-shadow 0.3s;
    &:hover{
        transform:scale(1.05);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);}
}

button {
  background-color: transparent;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s, box-shadow 0.2s;
  -ms-transition: transform 0.2s, box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
}
button:hover{
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
button:active{
    scale: 0.95;
    background-color: #00000022;
}
hr:not(.footer){
  width: 100%;
  border-bottom: 3px solid black;
  padding-bottom: 2px;
  margin-top: 5px;
}
.content {
  padding-top: 30px;
  line-height: 1.3rem;
  li {
    list-style: none;
    padding-bottom: 20px;
  }
  li.skills-list {
    padding-bottom: 10px;
    strong{
        text-decoration: underline;
    }
    
  }
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: transparent;
  border: #000000 solid 1px;
  margin-bottom: 15px;
}
.progress{
    width: 100%;
    height: 8px;
    background-color: greenyellow;
}
#html, #css{
    width: 90%;
}
#js{
    width: 60%;
}
#bs{
    width: 70%;
}
#git{
    width: 35%;
}
#Python{
    width: 45%;
}
#ps{
    width: 40%;
}
h1{
    color: #000000  ;
}
/* ! MAKING the website responsive */
@media
